%div.large-12.columns
  %div.large-6.columns
    %h2 Welcome to Quizr.
    %h3 Take a quiz or create a quiz
    %p Lots of blrb about the producti adfa dadfa ddagasd fadasdg adgagdas adfas adfas adsfas adsfa saf kfldkadpk pakdpfak
  %div.form.large-6.columns
    = render(:partial => 'signin')
    = render(:partial => 'signup')
