<footer class="row">
  <div class="large-10 columns">
        <ul id="footer">
          <span>&copy; Quizr</span>
          <span><a href="/contact">About Us</span></li>
        </ul>
  </div>
</footer>